extends layout

head
  script(type='text/javascript', src='/javascripts/checkCoin.js')

block content

  .menu
    h2 Menu
    ul.nav.nav-pills.flex-column.flex-sm-row
      li
        a(href='/') Home
      li.active
        a(href='/tasks') Todo List
      li
        a(href="/tasks/completed") Completed


  h1= title
  p Welcome to #{title}
