doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
    script(type='text/javascript', src='/javascripts/firebaseInit.js')
    script(type='text/javascript', src='https://www.gstatic.com/firebasejs/4.10.1/firebase.js')
  body
    block content
